Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml
.dockerignore
.editorconfig
.git
.gitattributes
.gitignore
LICENSE
README.md

zhongwen.world.api/resources
zhongwen.world.api/test
zhongwen.world.api/target
zhongwen.world.api/.lein-failures
zhongwen.world.api/.lein-repl-history

zhongwen.world.web/node_modules
zhongwen.world.web/dist
